@media (max-width: 900px) {
#about{
    padding-top: 100px;

    
}

.form{
    width: 380px;
}
.change-me{
    height: 800px;
}

.welcome-bot{
    font-size: 40px;
    letter-spacing: 5px;

}

.carousel-inner{
    height: auto;
    padding-top: 50px;
}

#cta    {
    margin-top: 30px;
    margin-bottom: 5px;

}

#cta2   {
    margin-top: 20px;
    

}

  }

  @media (max-width: 800px) {


    


  }