
.change-me{
    background-repeat: none;
    background-size: cover;
    background-image:url("../assets/Welcome to 6.png");
   height: 650px;
   border-bottom: .2px solid rgba(39, 38, 38, 0.288);
   

}
#contact{
    padding-top: 10px;
}
.test{
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    color:antiquewhite;
    font-weight: 500;
}

.lead{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.carousel-inner{
     height: 500px;
}

.carousel .item {
    height: 500px;
  }
  
  .item img {
      position: cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }


.welcome-top{
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    font-size: 30px;
    letter-spacing: 10px;
    
}

.nav-colored { 
    background-color:#3871c1 !important; 
    transition: background-color 0.5s ease;
}
.nav-transparent { 
    
    background-color: #212529 !important;
    transition: background-color 0.5s ease;


}


.welcome-bot{
    font-family: 'Orbitron', sans-serif;
    font-size: 70px; 
    letter-spacing: 10px;
    padding-top: 30px;
    font-weight: 900;
}
.lead2 {

    font-style: italic;
    font-weight: bold;
    padding-bottom: 20px;
}

.service-button {
    padding-top: 50px;
    
}

#skills-line{

    margin-top: 50px;
}

.add-margin-top{
    margin-top: 50px;
}
.add-padding-top{
    padding-top: 50px;
}

.service-margin{
    margin-top: 30px;
    color:white;
    font-family: 'Roboto', sans-serif;
}

.service-header{
    padding-bottom: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.service-header2{
    padding-bottom: 30px;
   
    font-family: 'Roboto', sans-serif;
}

.service-header-1{
    padding-bottom: 30px;
    
    font-family: 'Roboto', sans-serif;
}
 .home-logo{
   
    height: 70px;
    width: 120px;
    padding-left: 10px;
    
    
 }

 .material-symbols-outlined {
    color:white;
    font-size: 75px;
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24
  }

  .home{
    padding-right: 20px;
  }

 
.btn-primary{
  --bs-btn-color: #fff;
    --bs-btn-bg: #3871c1;
    --bs-btn-border-color: #3871c1;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #3871c1;
    --bs-btn-disabled-border-color: #3871c1;
    font-family: 'Roboto', sans-serif;
}
.btn-dark{
    font-family: 'Roboto', sans-serif;
}

.nav-link{

    font-family: 'Roboto', sans-serif;
    color: white;
    
    
}

.nav-next{

    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;

}